.image
  img

    width: 100%
    height: auto

.keen-slider__slide
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  a
    align-self: flex-end
    margin-top: 30px
    margin-bottom: 10px
    background-color: #00875F
    border: none
    color: #FFFFFF
    padding: 4px 10px
    border-radius: 6px
    cursor: pointer
    font-weight: 700

    &:hover
      background-color: #02c389

    .project-description

      font-weight: 300
