.cards
  width: 100%
  border: 1px solid
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow-y: scroll
  position: relative

.cards-container
  height: 100%
  display: flex
  flex-direction: column
  gap: 45px
  padding: 100px 0

.cards::-webkit-scrollbar
  width: 0

.cards::-webkit-scrollbar-track
  background-color: transparent

.cards::-webkit-scrollbar-thumb
  background-color: transparent

.cards
  scrollbar-width: none
